<div class="main-content">
    <div class="card">
        <div class="card-header">
          EJERCICIO 1
        </div>
        <div class="row justify-content-left mb-4"><div class="col-auto"><img src="/assets/tabla.png" alt="Descripción de la imagen" class="img-fluid"></div></div>
        <div class="card-header">
          CONTROL DE ALCOHOLEMIA
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <select class="form-select" [(ngModel)]="formControl.indicador" id="selectIndicador">
                    <option value="" disabled selected>Seleccione el tipo de vehículo</option>
                    <option value="C">C</option>
                    <option value="A">A</option>
                    <option value="T">T</option>
                    <option value="M">M</option>
                </select>
                <label for="selectIndicador">Indique el tipo de vehículo (C, A, T, M)</label>
            </div>        
            <div class="form-floating mb-3">
                <input type="number" class="form-control" [(ngModel)]="formControl.tasa"
                id="txtTasa" placeholder="name@example.com">
                <label for="txtTasa">Ingrese la tasa de alcohol</label>
            </div>
    
            <button type="button" (click)="respuesta()" 
                class="btn btn-primary">VERIFICAR</button>
            @if (mostrarMensaje) {
                <div class="alert alert-primary" role="alert">
                    {{resultado}}
                </div>}
    
            <hr/>
    
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Vehículo</th>
                    <th scope="col">Indicador</th>
                    <th scope="col">Tasa</th>
                    <th scope="col">Resultado</th>
                  </tr>
                </thead>
                <tbody>
                    @for (itemConductor of conductorList; track $index) {
                    <tr>
                        <td>{{itemConductor.vehiculo}}</td>
                        <td>{{itemConductor.indicador}}</td>
                        <td>{{itemConductor.tasa}}</td>
                        <td>{{itemConductor.respuestAlcolismo}}</td>
                    </tr>}
                </tbody>
            </table>
            
        </div>
    </div>
</div>
