<div class="card">
  <div class="card-header">
    EJERCICIO 2
  </div>
  <div class="card-body">
  <div>
    <label for="numero1">Ingrese el primer número:</label>
    <input id="numero1" type="number" [(ngModel)]="numero1">
  </div>
  
  <div>
    <label for="numero2">Ingrese el segundo número:</label>
    <input id="numero2" type="number" [(ngModel)]="numero2">
  </div>
  
  <button (click)="calcular()" class="btn btn-primary">Calcular</button>
  @if(mostrarMensaje){
    <div class="alert alert-primary" role="alert">
      <p>El resultado de la {{operacion}} es: {{resultado}}</p>
    </div>
  }
  
  

  